*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

body {
    display: flex;
    justify-content: center;
    background-color: #F5F7FA;
    font-family: sans-serif;
    
}

.page {
    width: 100%;
    height: 600px;
    background-color: #FFFFFF;
    margin-left: 144px;
    margin-right: 144px;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* background-color: aqua; */
    width: 100%;
    height: 58.76px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 22.27px;

}

.img {
    height: 24px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 16.71px;
}

.nav ul li {
    list-style-type: none;
}

.nav ul a {
    text-decoration: none;
    color: #4D4D4D;
    /* font-size: 14px; */
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 500;
    font-size: 11.1371px;
    line-height: 17px;

}

a {
    text-decoration: none;

}

.nav-button {
    /* Button */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 9.74497px 22.2742px; */
    gap: 5.57px;

    width: 133.25px;
    height: 36.49px;

    /* Brand/Primary */
    background: #4CAF4F;
    border-radius: 2.78428px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    cursor: pointer;


}

.imag {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-btn {
    background: #4CAF4F;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 11.1371px;
    line-height: 17px;
    border: none;
    cursor: pointer;
    display: grid;
    place-content: center;
    transition: 0.2s;
    display: flex;
    align-items: center;
    text-align: center;

}



.loader {
    pointer-events: none;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 3px solid transparent;
    border-top-color: #fff;
    animation: btn-animation 1s ease infinite;
}

@keyframes btn-animation {
    0% {
        transform: rotate(0turn);
    }

    100% {
        transform: rotate(1turn);

    }
}




/* first-main-section */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
}

.first-main-section {
    padding: 66.8227px 100.234px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* width: 1002.34px; */
    height: 416.95px;
    background-color: #F5F7FA;
    /* margin-top: 27.84px; */
    margin-bottom: 27.84px;

}

.first-main-section-cover {
    display: flex;
    flex-direction: row;
}

.first-title {
    padding-right: 72.39px;
}

.first-title-p {
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 600;
    font-size: 44.5484px;
    line-height: 53px;
    color: #4D4D4D;
    align-self: stretch;
    margin-bottom: 11.14px;

}

.first-title-p2 {
    font-style: normal;
    font-weight: 400;
    font-size: 11.1371px;
    line-height: 17px;
    color: #717171;
    margin-bottom: 22.27px;
}

.photo-navigation {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: center;
    /* padding-top: 40px; */
}


/* ------------------------------------------------- */
#slider {
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
    text-align: center;


}

#slider input[type=radio] {
    display: none;
}

#slider label {
    cursor: pointer;
    text-decoration: none;
}


#slide1:checked~#slides .inner {
    margin-left: 0;
}

#slide2:checked~#slides .inner {
    margin-left: -100%;
}

#slide3:checked~#slides .inner {
    margin-left: -200%;
}

#controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
}

#controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
}

#controls label:hover {
    opacity: 1;
}

#slide1:checked~#controls label:nth-child(2),
#slide2:checked~#controls label:nth-child(3),
#slide3:checked~#controls label:nth-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float: right;
    margin: 0 -50px 0 0;
    display: block;
}

#slide1:checked~#controls label:nth-last-child(2),
#slide2:checked~#controls label:nth-last-child(3),
#slide3:checked~#controls label:nth-last-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float: left;
    margin: 0 0 0 -50px;
    display: block;
}

#bullets {
    margin: 150px 0 0;
    text-align: center;
}

#bullets label {
    display: inline-block;
    width: 6.96px;
    height: 6.96px;
    border-radius: 100%;
    background: #ccc;
    /* margin: 0 10px; */
}

#slide1:checked~#bullets label:nth-child(1),
#slide2:checked~#bullets label:nth-child(2),
#slide3:checked~#bullets label:nth-child(3) {
    background: #4CAF4F;
}

@media screen and (max-width: 900px) {

    #slide1:checked~#controls label:nth-child(2),
    #slide2:checked~#controls label:nth-child(3),
    #slide3:checked~#controls label:nth-child(1),
    #slide1:checked~#controls label:nth-last-child(2),
    #slide2:checked~#controls label:nth-last-child(3),
    #slide3:checked~#controls label:nth-last-child(1) {
        margin: 0;
    }

}




/* ------------------------------------------------- */


.first-main-section .nav-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9.74497px 22.2742px;
    width: 89.55px;
    height: 36.49px;
    background: #4CAF4F;
    border-radius: 2.78428px;

}

.our-clients-section {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 132.92px;
    padding: 0px 100.234px;
    padding-top: 27.84px;
    padding-bottom: 27.84px;
    margin-bottom: 27.84px;

}

.our-clients-section h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 25.0585px;
    line-height: 31px;
    /* identical to box height, or 122% */
    text-align: center;

    /* Neutral/D_Grey */
    color: #4D4D4D;

}

.our-clients-section p {
    font-style: normal;
    font-weight: 400;
    font-size: 11.1371px;
    line-height: 17px;
    text-align: center;
    color: #717171;

}

.clients-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 22.27px;

    width: 801.87px;
    height: 68.21px;
    margin-top: 11.14px;


}

.manage-your-community {
    background-color: #FFFFFF;
    width: 100%;
    margin-top: 15px;

}

.manage-your-community .title h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 25.0585px;
    line-height: 31px;
    text-align: center;
    color: #4D4D4D;
}

.manage-your-community .title p {
    font-style: normal;
    font-weight: 400;
    font-size: 11.1371px;
    line-height: 17px;
    text-align: center;
    color: #717171;

}




.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.three-section-of-nexcent {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.first-suitable-for,
.second-suitable-for,
.third-suitable-for {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 208.12px;
    height: 182.1px;
    background-color: aquamarine;
    padding: 16.7057px 22.2742px;
    gap: 5.57px;

    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 1.39214px 2.78428px rgba(171, 190, 209, 0.2);
    border-radius: 5.56856px;
    flex: none;
    order: 0;
    flex-grow: 0;
    /* background-color: aquamarine; */


}

.first-suitable-for h2,
.second-suitable-for h2,
.third-suitable-for h2 {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 19.4899px;
    line-height: 25px;
    text-align: center;
    color: #4D4D4D;

}


.first-suitable-for p,
.second-suitable-for p,
.third-suitable-for p {
    font-size: 9.74px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 9.74497px;
    line-height: 14px;
    text-align: center;
    color: #717171;


}




/* fourth-section-learn-more */

.fourth-section-learn-more {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    width: 100%;
    height: 301.4px;
    margin-bottom: 33.41px;

}






.learm-more-section {
    width: 460.1px;
    height: 187.9px;
}

.learm-more-section h2 {


    font-style: normal;
    font-weight: 600;
    font-size: 25.0585px;
    line-height: 31px;
    color: #4D4D4D;
    margin-bottom: 11.14px;

}

.learm-more-section p {
    font-style: normal;
    font-weight: 400;
    font-size: 9.74497px;
    line-height: 14px;
    color: #717171;
    margin-bottom: 22.27px;


}

/* statistics */
.statistics {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 33.41px;
    background: #F5F7FA;
}



.statisctics-title h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 25.0585px;
    line-height: 31px;
    color: #4D4D4D;

}

.statisctics-title p {
    font-style: normal;
    font-weight: 400;
    font-size: 11.1371px;
    line-height: 17px;
    color: #18191F;


}

.statistics-numbers {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;


}

.statistics-numbers div {
    margin-bottom: 27.84px;



}

.statistics-numbers h2 {
    color: #4D4D4D;
}

.statistics-numbers p {
    color: #717171;

}

.stat-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 11.14px;

    /* width: 33.41px;
    height: 33.41px; */

}

.members,
.clubs,
.event-booking,
.payment {
    display: flex;
    flex-direction: row;
    margin-right: 21px;
    margin-top: 28px;
}

.span-green {
    color: #4CAF4F;
}

/* ============================================= */
/* ============================================= */
.tim-smith-section {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 22.2742px 100.234px;
    background: #F5F7FA;
    height: 271.47px;
    margin-bottom: 33.41px;

}

.tim-photo {
    margin-right: 54.29px;
}



.tim-text p {
    font-style: normal;
    font-weight: 500;
    font-size: 11.1371px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #717171;

}

.p-with-span {
    font-style: normal;
    font-weight: 600;
    font-size: 13.9214px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #4CAF4F;

}

.tim-meet-all-customers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 520.66px;
    height: 33.41px;

}

.tim-meet-all-customers .log-cover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 343.16px;
    align-items: center;
    /* width: 520.66px;
    height: 33.41px; */
    /* padding-left: 28.54px; */
    /* background-color: #4CAF4F; */

}

.tim-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5.56856px;
    gap: 5.57px;

    width: 155.22px;
    height: 31.14px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;

}



.tim-button div {
    display: flex;
    flex-direction: row;
}

.tim-button div button {
    border: none;
    background-color: inherit;

    color: #4CAF4F;
    margin-right: 5.57px;
    font-style: normal;
    font-weight: 600;
    font-size: 13.9214px;
    line-height: 19px;
    align-items: center;
    color: #4CAF4F;


}

/* ============================================= */
/* ============================================= */

.caring-is-the-new-marketing {
    width: 100%;
    background-color: #FFFFFF;
    padding-bottom: 40px;
}

.caring-is-the-new-marketing h2 {
    text-align: center;

    font-style: normal;
    font-weight: 600;
    font-size: 25.0585px;
    line-height: 31px;
    text-align: center;
    color: #4D4D4D;


}

.caring-first-p {
    text-align: center;
    margin-bottom: 14.14px;
    font-style: normal;
    font-weight: 400;
    font-size: 11.1371px;
    line-height: 17px;
    text-align: center;
    color: #717171;


}


.text-on-photo {
    width: 220.65px;
    height: 123.55px;
    background: #F5F7FA;
    box-shadow: 0px 5.56856px 11.1371px rgba(171, 190, 209, 0.4);
    border-radius: 5.56856px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 11.1371px;
    z-index: 2;
    position: relative;
    bottom: 70px;



}

.text-on-photo p {

    font-style: normal;
    font-weight: 600;
    font-size: 13.9214px;
    line-height: 19px;
    text-align: center;
    color: #717171;

}

.three-section-of-nexcent-Divvv {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    margin: 0 auto;
    width: 256.15px;
    height: 255.8px;


}

.pellentesque {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 22.2742px 0px;
    gap: 22.27px;
    width: 100%;
    /* height: 209.31px; */
    background: #F5F7FA;
    /* margin-bottom: 22.27px; */

}


.pellentesque h2 {

    font-style: normal;
    font-weight: 600;
    font-size: 44.5484px;
    line-height: 53px;
    text-align: center;
    color: #263238;
    margin-top: 30px;
    /* margin-bottom: 22.27px; */




}

.pellentesque-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 9.74497px 22.2742px;
    gap: 5.57px;
    /* width: 124.25px; */
    height: 36.49px;
    background: #4CAF4F;
    border-radius: 2.78428px;


}

.btn {
    background-color: inherit;
    border: none;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 11.1371px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;

}





/* Footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 44.5484px 114.851px;
    width: 100%;
    height: 229.21px;
    background: #263238;

}

.company-info {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 27.84px;

    width: 243.62px;
    height: 132.18px;

}

.rights {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    gap: 5.57px;

    width: 243.62px;
    height: 33.57px;

}



.first-rights {
    font-style: normal;
    font-weight: 300;
    font-size: 9.74497px;
    line-height: 14px;
    color: #F5F7FA;

}

.second-rights {
    font-style: normal;
    font-weight: 300;
    font-size: 9.74497px;
    line-height: 14px;
    color: #F5F7FA;


}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 122.51px;
    height: 22.27px;

}



.social-media div {
    background-color: #717171;
    width: 22.27px;
    height: 22.27px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 442px;
    height: 140.12px;

}


.company p,
.support p,
.stay-up-to-date p {
    font-style: normal;
    font-weight: 600;
    font-size: 13.9214px;
    line-height: 19px;
    color: #FFFFFF;


}

.links a {
    text-decoration: none;
    color: #F5F7FA;
    font-style: normal;
    font-weight: 300;
    font-size: 9.74497px;
    line-height: 14px;
}

.links ul li {
    list-style-type: none;

}

.support div ul,
.company div ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 111.37px;
    height: 103.41px;

}

.support,
.company,
.stay-up-to-date {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stay-up-to-date {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16.71px;

    width: 177.5px;
    height: 64.55px;

}

.stay-up-to-date div {

    width: 177.5px;
    height: 27.84px;
    background-color: #717171;
    border-radius: 5.56856px;
    display: flex;
    justify-content: space-around;
    align-items: center;





}

.stay-up-to-date div input {
    background-color: inherit;
    border: none;





}

.stay-up-to-date div input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 9.74497px;
    line-height: 14px;
    color: #D9DBE1;

}
h3{
    /* padding-left: 10px; */
    font-size: 10px;
    color: #D9DBE1;
}
/* .stay-img{
    padding-right: 10px;

} */